// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

img {
  max-width:100%;
}

.nav-item .active {
  color:red;
}

.detail-created-at {
  margin-bottom: 0;
}

.detail-body {
  margin-bottom: 15px;
}

.admin-list-icons {
  float:right;
}
